<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="Account">Account</a>
    </nav>
    <div class="title">
    <h1>Welcome to the blackmarket</h1>
    <p>Buy illegal contraband and information</p>
    </div>
    <div class="featured-items">

    </div>
    <footer>

    </footer>
</body>
</html>