<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/shop">Shop</a>
      <a href="/account">Account</a>
    </nav>
    <div class="title">
      <h1>Shop</h1>
      <nav class="subnav">
        <a href="#goods">Stolen goods</a>
        <a href="#data">Personal data</a>
      </nav>
    </div>
    <div class="goods" id="goods"></div>
    <div class="data" id="data"></div>
  </body>
</html>
